@charset "UTF-8";

/* RESET HTML */
html, 
body {
    height: 100%;
}

.bloco {
    min-height: 100%; 
    padding-top: 94px;
}

/* COLORS */
.blue-logo {
    background-color: #2dc7d0;
}

/* HOME */
/* LOGO */
.logo-text {
    font-size: 0;
    margin: 0;
}

.logo-img {
    width: 100px; 
    margin-top: 15px;
}

/* MENU */
.navbar {
    background-color: transparent; 
    transition: background 0.5s linear;
}

.navbar ul a:hover {
    background-color: transparent; 
    color: #2dc7d0;
}

.nav-color {
    background-color: rgba(0, 0, 0, 0.7); 
    transition: background 0.5s linear;
}

/* BANNER */
.home {
    background-image: url("../image/bg.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    animation: mudarbg 20s infinite;
}

.banner h2 {
    font-size: 2.5rem; 
    font-weight: 900; 
    text-transform: uppercase;
}

.banner p {
    font-size: 1.2rem; 
    line-height: 1.8rem;
}

/* HOME - ANIMATION */
@keyframes mudarbg {
    40%{background-image: url('../image/bg2.jpg');}
    80%{background-image: url('../image/bg3.jpg');}
    100%{background-image: url('../image/bg.jpg');}
}

/* TITULO & PARAGRAFO */
.titulo {
    font-size: 2rem; 
    text-transform: uppercase;
}

.titulo::after {
    content: ""; 
    display: block; 
    width: 100px; 
    border-top: 1px solid #2dc7d0; 
    margin: 15px auto;
}

.paragafro {
    line-height: 1.8rem;
}

/* SOBRE */
.sobre {
    background-image: url("../image/textura1.png");
}

.sobre p {
    line-height: 1.8rem; 
    text-align: justify;
}

.sobre .missao-visao-valores {
    padding: 20px 0; 
    margin-top: 35px;
}

.sobre .missao-visao-valores .icon {
    color: #ffffff;
}

.sobre .missao-visao-valores h3 {
    font-size: 1.5rem; 
    color: #ffffff; 
    text-transform: uppercase;
}

.sobre .missao-visao-valores p {
    color: #ffffff;
    text-align: center;
}

/* SERVIÇOS */
.servicos {
    background-image: url("../image/textura2.png");
}

.servicos .btn-horario {
    padding-bottom: 20px;
}

/* UNIDADES */
.unidades {
    background-image: url("../image/bg-unidades.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
}

.unidades article p {
    line-height: 1.8rem;
}

/* CONTATO */
.contato {
    background-image: url("../image/textura1.png");
}

.contato h4 {
    font-size: 1.2rem; 
    text-transform: uppercase; 
    font-weight: 900;
}

.contato .mapa {
    min-height: 560px;
}

.contato .mapa iframe {
    width: 100%; 
    min-height: 560px; 
    border: none;
}

.contato .informacoes {
    background-image: url("../image/textura2.png"); 
    min-height: 560px; 
    padding: 30px;
}

.contato .formulario {
    min-height: 560px; 
    padding: 30px;
}

/* DEPOIMENTOS */
.depoimentos .titulo::after {
    border-color: #ffffff;
}

.depoimentos img {
    width: 100px;
}

.depoimentos h4 {
    font-size: 1.2rem; 
    font-weight: 900;
}

/* FOOTER */
.rodape {
    background-image: url("../image/bg-rodape.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    padding: 30px 0;
}

/* CUSTOM */
nav.nav-extended .nav-wrapper {
    min-height: 94px;
}

.navbar-fixed {
    position: absolute; 
    height: 94px;
}

nav, 
nav i, 
nav[class^="mdi-"], 
nav[class*="mdi-"], 
nav i.material-icons, 
nav a.button-colapse i {
    height: 94px;
    line-height: 94px;
}

.side-nav {
    background-image: url("../image/textura2.png");
}

.side-nav li a {
    color: #ffffff; 
    font-weight: 100; 
    font-size: 1.2rem; 
    line-height: 58px; 
    letter-spacing: 2px; 
    word-spacing: 2px;
}

.row {
    margin-bottom: 0;
}

.tabs {
    background-color: #222222;
}

.tabs .tab a {
    color: #ffffff;
}

.tabs .tab a:hover, 
.tabs .tab a.active {
    color: #2dc7d0;
}

.tabs .indicator {
    background-color: #2dc7d0;
}

/* MEDIA QUERY*/
@media only screen and (max-width: 480px) {
    .card-image-horizontal {
        display: none;
    }
}

@media only screen and (min-width: 601px) {
    .banner {
        padding-top: 4.5rem;
    }

    .banner h2 {
        font-size: 4rem;
    }

    .container {
        width: 85%
    }
}

@media only screen and (min-width: 993px) {
    .banner {
        padding-top: 5rem;
    }

    .banner h2 {
        font-size: 5rem;
    }

    .container {
        width: 90%; 
        max-width: 1920px;
    }
}